<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/WorkingWithServerApp" version="1.0.0" viewmodes="maximized">
    <tizen:application id="Vf2ppdhHn8.WorkingWithServerApp" package="Vf2ppdhHn8" required_version="2.3"/>
    <access origin="*" subdomains="true"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>WorkingWithServerApp</name>
    <tizen:profile name="mobile"/>
    <tizen:privilege name="http://tizen.org/privilege/download"/>
	<tizen:privilege name="http://tizen.org/privilege/internet"/>
</widget>
